[user]
  name = Matteo Latini
  email = mtylty@gmail.com
[github]
  user = mtylty
[core]
  editor = /usr/bin/vim
[alias]
  s = status
  co = checkout
  ci = commit
  br = branch
  d = diff --color-words
  a = add
  pl = pull
  ps = push
  lg = "!source ~/.githelpers && pretty_git_log"
  l = !git lg -30
  la = !git lg --all
  ll = log --stat --abbrev-commit
  alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
[color]
  ui = true
[hub]
  protocol = https
[push]
  default = current
[pull]
  rebase = true
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[url "https://"]
	insteadOf = git://
[credential]
	helper = osxkeychain
