# Lock Mac OSX Session
alias lockscreen="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"
# Start Mac OSX screensaver
alias screensaver="open -a /System/Library/Frameworks/ScreenSaver.framework//Versions/A/Resources/ScreenSaverEngine.app"

# Ruby
alias bo="bundle open"
alias pulsar="pulsar -c git@github.com:nebulab/deploy-configuration.git"

# Update dotfiles
alias dotfiles="(cd ~/.dotfiles && git pull && source ~/.zshrc)"

# Databases
alias mongodb="mongod run --config /usr/local/etc/mongod.conf"

# Services
alias elasticsearch="elasticsearch -f -D es.config=/usr/local/Cellar/elasticsearch/0.19.10/config/elasticsearch.yml"
