# Lock Mac OSX Session
alias lockscreen="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"
# Start Mac OSX screensaver
alias screensaver="open -a /System/Library/Frameworks/ScreenSaver.framework//Versions/A/Resources/ScreenSaverEngine.app"

# Update dotfiles
alias dotfiles="(cd ~/.dotfiles && git pull && source ~/.zshrc)"

# Open SumblimeText
alias st="/Applications/Sublime\ Text\ 2.app/Contents/SharedSupport/bin/subl ."

# Ruby aliases
alias be="bundle exec"
alias bi="bundle install"
alias bo="bundle open"

# Console aliases
alias g="git"
alias gs="git status"
alias l="ls"
alias la="ls -la"
alias ll="ls -l"
