# Lock Mac OSX Session
alias lockscreen="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"
# Start Mac OSX screensaver
alias screensaver="open -a /System/Library/Frameworks/ScreenSaver.framework//Versions/A/Resources/ScreenSaverEngine.app"

# Update dotfiles
alias dotfiles="(cd ~/.dotfiles && git pull && source ~/.zshrc)"

# Databases
alias mongodb="mongod run --config /usr/local/etc/mongod.conf"

# Use Hub gem if possible
eval "$(hubs alias -s)"
