# Your custom command path...
export PATH=$PATH:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin

# Adds the Code folder (with project) in the cd path
export CDPATH=".:~/Code"
cdpath=(~/Code/)

# Load RVM
[[ -s "$HOME/.rvm/scripts/rvm" ]] && source "$HOME/.rvm/scripts/rvm"

# Load NVM
[[ -s "$HOME/.nvm/nvm.sh" ]] && source "$HOME/.nvm/nvm.sh"

# Load Hub if available
eval "$(hub alias -s)"

# Make vim the default editor
export EDITOR="vim"

# Editor for opening gems
export BUNDLER_EDITOR="/Applications/Sublime\ Text\ 2.app/Contents/SharedSupport/bin/subl"

# Pulsar configuration repo
export PULSAR_CONF_REPO="nebulab/pulsar-conf"

# Setting for the new UTF-8 terminal support in Lion
export LC_CTYPE="en_US.UTF-8"
export LC_ALL="en_US.UTF-8"
export LANG="en_US.UTF-8"
export LANGUAGE="en_US.UTF-8"

# Don't clear the screen after quitting a manual page
export MANPAGER="less -X"
# Colors for Man Pages
export LESS_TERMCAP_mb=$'\E[01;31m'
export LESS_TERMCAP_md=$'\E[01;31m'
export LESS_TERMCAP_me=$'\E[0m'
export LESS_TERMCAP_se=$'\E[0m'
export LESS_TERMCAP_so=$'\E[01;44;33m'
export LESS_TERMCAP_ue=$'\E[0m'
export LESS_TERMCAP_us=$'\E[01;32m'

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups

# Add date and time in bash history
export HISTTIMEFORMAT="%h/%d - %H:%M:%S "
