alias l="ls -G"
alias ls="ls -G"
alias ll="ls -lG"
alias la="ls -aG"
alias lla="ls -laG"
alias grep="grep --color"

# Save some kestrokes for ruby projects
alias be="bundle exec"
alias bi="bundle install"
alias bo="bundle open"

# Lock Mac OSX Session
alias lockscreen="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"
# Start Mac OSX screensaver
alias screensaver="open -a /System/Library/Frameworks/ScreenSaver.framework//Versions/A/Resources/ScreenSaverEngine.app"

# Update dotfiles
alias dotfiles="(cd ~/.dotfiles && git pull && source ~/.bash_profile)"

# Databases
alias mongodb="mongod run --config /usr/local/etc/mongod.conf"

alias proj=". $HOME/.dotfiles/scripts/proj.sh"
